.div{
        margin: 50px;
        align-content: left;
        padding: 20px;
       
        
        

}

input{
        background-color: rgb(245, 242, 238);
        border-radius: 5px;
        margin: 10px;
        height: 20px;
        
             
        
}